.members {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 1px 8px 8px #222;
    display: inline-block;
    margin: 5px;
    padding: 22px;
    text-align: center;
    transition: 0.7s;
} .members:hover {
    transform: scale(0.99);
    box-shadow: 1px 3px 3px #222;
} .members:hover p {
    color: rgb(153, 5, 5);
}